
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerFetch{
  background-color: grey;
display: flex;
border: 12px solid grey;
width:110rem;
height: 200px;
padding: 15px;
border-radius: 15px;
margin: 2rem;

}

.dataFetch{
 color:white;
  background-color:burlywood;
  cursor:pointer;
  width: 300px;
  border: 2px solid black;
  padding: 30px;
  margin: 10px;
  box-shadow: 5px 10px skyblue;
  /* transition: background-color 1s ease-in 1ms; */
  font-size: large;
  font-style: normal;
  font-weight: bold;
  border-color: aqua;
  
  
}
.dataFetch:hover {
  background: url("images/2.jpg") no-repeat;
}

.navBar{
display: flex;
justify-content: space-evenly;

font-size:x-large;

}




.counterEffect{
  font-size:20px;
  font-weight: bolder;
  background-color: rgb(190, 211, 72);
  margin-left: 12rem;
  border: 2px solid rgb(173, 23, 23);
  width:50rem;
  height: 200px;
  border-radius: 5px;
  justify-content: center;
}
.navbarContainer{
  background-image: linear-gradient(15deg, #000000 0%, #a50fa5 70%);
  height: 60px;
  padding:10px;
  /* box-shadow: 2px 5px rgb(202, 202, 183); */
  width: 120rem;
}
.navbarContainer:hover {
  background-image: linear-gradient(15deg, #cae25d 100%, #a50ca5 80%);
}
.containerPics{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.homePage{
  background-color: #8d9e4f;
  

}
.count1{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.todos{
  margin-left:18rem;
  background-color: rgb(178, 228, 230);
  border: 1px solid rgb(173, 23, 23);
  width:60rem;
  height: 600px;
  padding: 15px;
  margin-top: 2rem;
  border-radius: 15px;
  
}
.form1{
  width: 40rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project7{
  height: 100vh;
  width: 100vh;
}
.displayContainer{
  display: flex;
margin-top: 2rem;
justify-content: center;
gap: 15px;
}

.carousel{
  height:100vh;
}
@media (max-width: 1200px) {
  .navbarContainer{
    /* background-image: linear-gradient(15deg, #000000 0%, #000000 100%); */
    height: 60px;
  background-color:black;
    padding:10px;
    /* box-shadow: 2px 5px rgb(202, 202, 183); */
    width: 120rem;
  
}
}

@media (max-width: 768px) {
  .navbarContainer{
    /* background-image: linear-gradient(15deg, #000000 0%, #000000 100%); */
    height: 30px;
  background-color:black;
    padding:10px;
    /* box-shadow: 2px 5px rgb(202, 202, 183); */
    width: 80rem;
  
  
  }
  .navBar{
display: flex;
justify-content: space-evenly;
align-items: center;
font-size:x-small;
margin-left: -2rem;
}
}